name: terraform apply

on:
  push:
    branches:
      - main

permissions:
  pull-requests: write

jobs:
  apply:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: hashicorp/setup-terraform@v2

      - name: Download Terraform state
        uses: devgioele/terraform-state-artifact@v4
        with:
          passphrase: ${{ secrets.TF_STATE_PASSPHRASE }}
          download_upload: download

      - name: Terraform fmt
        id: fmt
        run: terraform fmt -check
        continue-on-error: true

      - name: Terraform Init
        id: init
        run: terraform init

      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color

      - name: Terraform Apply
        id: apply
        run: terraform apply -no-color -var-file ./vars/members.tfvars -var-file ./vars/repositories.tfvars -var-file ./vars/teams.tfvars -auto-approve
        continue-on-error: true
        env:
          TF_VAR_github_org: deepsouthdevs-github
          TF_VAR_github_token: ${{ secrets.ACCESS_TOKEN }}

      - name: Upload Terraform state
        uses: devgioele/terraform-state-artifact@v4
        with:
          passphrase: ${{ secrets.TF_STATE_PASS }}
          download_upload: upload
